.createTaskForm {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0px;
    gap: 0.5rem;
    min-height: 3.375rem;
    margin-top: -2rem;
    filter: drop-shadow(var(--shadow));

}

.createTaskFormInput {
    box-sizing: border-box;
    /* Auto layout */
    padding: 1rem;
    gap: 0.5rem;
    width: 39.875rem;
    height: 3.375rem;  
    background: var(--gray-500);
    border: 1px solid var(--gray-700);
    border-radius: var(--radius);
    font-size: 1rem;
}
.createTaskFormInput:hover,
.createTaskFormInput:focus {
    border: 1px solid var(--blue);
}


.createTaskFormButton {
    width: 5.625rem;
    height: 3.25rem;
    background: var(--blue-dark);
    border-radius: 0.5rem;
    font-size: 1rem;
    font-weight: bold;
    color: white;
}
.createTaskFormButton:hover,
.createTaskFormButton:focus {
    color: black;
    background: var(--blue);
}

.wrapper {
    display: flex;
    justify-content: center;
}

.taskList {
    text-align: center;
    width: 39.875rem;
    padding: 0px;
    gap: 0.5rem;
    margin-top: 2rem;
}

.taskListInfo {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    height: 1.125rem;
}

.taskListInfoCreated {
    color: var(--blue);
}

.taskListInfoCompleted {
    color: var(--purple);
}

.taskListInfoCount {
    color: white;
    background: var(--gray-700);
    border: 1px solid var(--gray-700);
    border-radius: var(--radius);
    padding: 0 0.5rem;
}

.taskListTasks,
.taskListEmpty {
    width: 100%;
    margin-top: 2rem;
    border-top: 1px solid #333333;
    border-radius: 8px
}

.taskListEmpty img {
    margin-top: 2rem;
    filter: drop-shadow(var(--shadow));
}

div.taskListTasks ul.task {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 0px;
    background: var(--gray-700);
}

div.taskListTasks ul.task li {
    list-style-type: none;
    padding: 0.5rem;
    min-width: 10%;
}

div.taskListTasks ul.task li.taskTitle {
    text-align: left;
    min-width: 70%;
}

