/* Todo - Empty */
.header {
    min-height: 12.5rem;
    background-color: var(--gray-700);
    display:flex;
    align-items: center;
    justify-content: center;
}

.logo {
    height: 3rem;
    margin-right: 1rem;
}

.title {
    font-weight: 400;
    font-size: 2.5rem;
    padding-bottom: 0.4rem;
}
.title .blue {
    color: var(--blue);
    filter: shadow(var(--shadow));
}